.videoAlan{
    margin-top:1%;
    background-color:#145558;
}
.title{
    text-align: center;
    color:aliceblue;
    margin: 2% 0% -2% 0%;
    border: 3px ridge #96d0c4;
    padding: 1%;
}
